$icons: (
	sprite: (width: 1203.3px, height: 3198px, svgPath: '../../images/sprite.svg'),
 	Arrow_left: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
 	Arrow_right: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -44px),
 	Boat_icon: (width: 640px, height: 512px, backgroundX: 0px, backgroundY: -88px),
 	Car_icon: (width: 512px, height: 512px, backgroundX: 0px, backgroundY: -620px),
 	Close_icon: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -1152px),
 	Email_icon: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -1196px),
 	Logo_ENGIE: (width: 319.1px, height: 113.4px, backgroundX: 0px, backgroundY: -1240px),
 	Menu_mobile: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -1374px),
 	NoordHolland_logo: (width: 1183.3px, height: 231.2px, backgroundX: 0px, backgroundY: -1418px),
 	Phone_icon: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -1670px),
 	Pin_boat_blue_normal: (width: 18px, height: 20px, backgroundX: 0px, backgroundY: -1714px),
 	Pin_boat_purple_pushed: (width: 18px, height: 20px, backgroundX: 0px, backgroundY: -1754px),
 	Pin_car_blue_normal: (width: 18px, height: 20px, backgroundX: 0px, backgroundY: -1794px),
 	Pin_car_purple_pushed: (width: 18px, height: 20px, backgroundX: 0px, backgroundY: -1834px),
 	baseline-arrow_downward-24px: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -1874px),
 	baseline-person_pin-24px: (width: 18px, height: 20px, backgroundX: 0px, backgroundY: -1918px),
 	baseline-person_pin-24px_boat: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -1958px),
 	facebook_icon: (width: 264px, height: 512px, backgroundX: 0px, backgroundY: -2002px),
 	outline-menu-24px: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -2534px),
 	outline-person_pin_circle-24px: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -2578px),
 	outline-search-24px: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -2622px),
 	twitter_icon: (width: 512px, height: 512px, backgroundX: 0px, backgroundY: -2666px),
);
