<footer class="footer" role="contentinfo">
	<p>
		© 2018 ENGIE. Alle rechten voorbehouden. <a href="https://www.engie-services.nl/disclaimer-3/" target="_blank">Disclaimer</a>
	</p>
	<ul>
		<li>
			<a href="https://www.noord-holland.nl/" target="_blank">
				<img src="images\svg\NoordHolland_logo.svg" alt="" />
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/engieServicesNL" target="_blank">
				<img src="images\svg\facebook_icon.svg" alt="" class="faded" />
			</a>
		</li>
		<li>
			<a href="https://twitter.com/engieservicesnl" target="_blank">
				<img src="images\svg\twitter_icon.svg" alt="" class="faded" />
			</a>
		</li>
	</ul>
</footer>

</body>
</html>
