//----------  header
//------------------------------------------------------------------------------

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px;
	height: 88px;
	img {
		height: 32px;
	}
	.right {
		img {
			width: 21px;
		}
		a {
			font-size: 14px;
			line-height: 21px;
			color: $black;
			opacity: 0.8;
			margin-left: 20px;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}